$tdbc-unit: 8px;

$tdbc-brand-colors: (
  "primary": #7660eb,
  "secondary": #21c2b7,
  "tertiary": #fc5d6d,
  "support": #ffbc00,
);

$tdbc-theme-colors: map-merge(
  $tdbc-brand-colors,
  (
    "light": #f9f9f9,
    "dark": #162310,
    "gray": #e9e9ea,
    "gray-dark": #bbb9ba,
    "gray-text": #767676,
  )
);

@function tdbc-color($key) {
  @return map-get($tdbc-theme-colors, $key);
}

$tdbc-body-color: #666;
$tdbc-link-color: #7660eb;

$tdbc-h1-font-size: 40px;
$tdbc-h2-font-size: 32px;
$tdbc-h3-font-size: 24px;
$tdbc-h4-font-size: 18px;
